@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<form method="get">
    <div class="input-group">
        <div class="input-group-append mb-1">
            <span class="input-group-text">Search</span>
        </div>
        <input type="text" class="form-control" name="searchTerm" asp-for="SearchTerm">
    </div>
    <button type="submit" class="btn btn-sm btn-outline-primary">Search</button>
</form>

<hr>


@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}


<a asp-page="./Edit" class="btn btn-primary">Add New Restaurant</a>

@section footer {
    <div>OMG OMG OMG</div>
}